body {background: #FFF;color: #000;min-height: 100vh;}
main {padding-top: 110px;padding-bottom: 90px;padding-left: 15px;padding-right: 15px;}
h1 {font-size: var(--font-size-l);line-height: 1;margin-bottom: 90px;}
article {
  p {font-size: var(--font-size-s);line-height: 1;
    +p {margin-top: 1em;}
  }
}
.back {font-size: var(--font-size-s); margin-top: 90px;display: inline-block;
  &:hover {text-decoration: underline;}
}